
@{
    ViewData["Title"] = "Index";
}
<body>
    <header>
        <h1>Hunter's Workshop</h1>
    </header>

    <main>
        <div class="container">
            <div id="catalog" class="catalog">
                <!--render items here-->
            </div>
        </div>
    </main>
</body>

@section Styles{
    <link href="/css/catalog.css" rel="stylesheet">
}
@section Scripts{
    <script src="/js/Catalog/catalog.js"></script>
}